@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;

  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: white;
  color: black;

  font-size: 14px;
  line-height: 19px;
}

#root {
  min-height: 100vh;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #ffffff;
  border-radius: unset;
  overflow: hidden;
}

@media only screen and (min-width: 424px) {
  #root {
    min-height: 100vh;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: gray;
}

i {
  display: inline-grid;
  vertical-align: -0.125rem;
}

p {
  line-height: 1.4;
}

footer {
  padding: 1rem 2rem;
  border-top: solid 1px gray;
  font-size: large;
  font-weight: bold;

  display: grid;
  grid-template-columns: 1fr auto;

  z-index: 1;
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
} */
